<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
  <body>
     <%= @player_one %>
     <div id="p1Health"> 100 </div>
     <%= @player_two %>
     <div id="p2Health"> 100 </div>
  </body>
</html>
